body{
    background-color: lightskyblue;
    width: 600px;
    margin: auto;
}

ul, ol{
    margin: 20px;
    padding: 30px;

}

ul {
    list-style-type: square;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    
}

ol {
    list-style-type: lower-roman;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: whitesmoke; 
}

div{
    text-transform: capitalize;
}

li {
    letter-spacing:  2px;
    text-transform: lowercase;
    padding: 8px 10px;
}

ol li{
    color: blue;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    color: pink;
    text-decoration: none;
}

a:visited{
    color: red;
    text-decoration: none;
}

a:hover,
a:focus{
    color: black;
    text-decoration: none;
}

p::first-letter{
    font-size: 30px;
    font-weight: bolder;
}

blockquote::before,
blockquote::after{
    content:'"';
    font-size: xx-large;
    font-weight: bold;
    color: darkorange;

}