.header {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

    .logo {
        font-size: 2rem;
        font-weight: bold;
        color: $white-color;
        text-transform: uppercase;

        &::first-letter {
            color: $blue-color;
        }
    }
}