$mini-article-item-padding: 15px;

.mini-article {
  background-color: $color-sidebar-item-bg;
  transition: 200ms;

  &:not(.mini-article--big){
    background-color: $color-sidebar-item-bg-active;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: $mini-article-item-padding;
    position: relative;

    .mini-article--big & {
      align-items: flex-start;

    }
  }

  &__image {
    width: 80px;
    margin-right: 0.5rem;

    .mini-article--big & {
      width: 130px;
      margin-right: 1.5em;
    }
  }

  &__headline {
    font-size: 1rem;
    margin: 0;

    .mini-article--big & {
      font-size: 1,3rem;
      font-weight: normal;
      margin-bottom: 0.5em;
    }
  }

  &__summary {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  &__published {
    color: $color-text;
    font-size: 0.7rem;
    position: absolute;
    right: $mini-article-item-padding;
    top: $mini-article-item-padding;
  }

  &:hover,
  &.active,
  &:not(.mini-article--big) {
    background-color: $color-sidebar-item-bg-active;
  }

  &.mini-article--big {
    padding-left: 200px;
  }
}
