.navigation-secondary {
    background: $black-color;

    &-wrapper {
        max-width: 1300px;
        margin: auto;
        padding: 15px 0;
    }

    &-list {
        display: flex;
        gap: 30px;

        a {
            text-decoration: none;
            color: $white-color;
            text-transform: uppercase;
            font-size: .9rem;
            font-weight: bold;

            &:hover {
                .icon {
                    transform: rotate(180deg);
                }
            }

            .icon {
                width: .5em;
                height: .5em;
                fill: $white-color;
                transition: all 200ms ease-in-out;
            }
        }
    }
}